<div id="quantities-model-boot">
    <div id="mainButtons">
        <button type="button" id="add-main-button" (click)="setIsAdd(true)">Sumar</button>
        <button type="button" id="subtract-main-button" (click)="setIsAdd(false)">Restar</button>
    </div>
    <div id="content-quantities-edit">
        <div id="title">
            <h1 *ngIf="isAdd ; else subtractTitle">Sumar</h1>
            
            <ng-template #subtractTitle>
                <h1>Restar</h1> 
            </ng-template>
            <span>catidades</span>
        </div>

        <div class="size-quantitie-wrapper" *ngFor="let size of sizes; index as i">

            <span class="size-number">
                {{size.size}}
            </span>
            <span class="size-quantity">
                {{size.quantity}}
            </span>
            <input type="text" (change)="change($event,i)" value="0"/>
            
            

        </div>
        <div class="clear-fix"></div>
        
        <div id="executor">
            <button type="button" id="exec-add" *ngIf="isAdd; else subtractButton" (click)="submit()">Sumar cantidades</button>
            <ng-template #subtractButton>
                <button type="button" id="exec-subtract" (click)="submit()">Restar cantidades</button>
            </ng-template>
        </div>
        
        
    </div>
</div>



