<div id="keyWordList">
  <div class="unique-wrapper">
    <div class="unique">
      <button id="openNewCategoryButton" (click)="newCategoryDialog()">Crear nueva categoría</button>
      <div class="clear-fix">
      </div>      
      <div id="accordion">
        <mat-accordion multi="false">
          <div *ngFor="let category of categories;index as indCategory">
          <mat-expansion-panel (opened)="categoryOpened(indCategory)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{categories[indCategory].name}}
              </mat-panel-title>
              <mat-panel-description>
                
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngFor="let keyWord of categories[indCategory].keyWords">
              {{keyWord}}
            </p>
          </mat-expansion-panel>
        </div>
        </mat-accordion>  
      </div>
      <div class="pagination">
          <app-pagination (pageEmitt)="goPage($event)" [pagesChild]="pagesParent" [pageInitHalfChild]="pageInitHalf" [pageFinalHalfChild]="pageFinalHalf" [page]="page"></app-pagination>
      </div>    
        
  
  
    </div>
  </div>
  
</div>
