<div class="unique-wrapper">
	<div id="register" class="unique consumerForm">
		<h2>Editar Modelo</h2>
		<form #createModel="ngForm" (ngSubmit)="onSubmit(createModel)" id="createModel">
			
			<label for="title">Título</label>
			<input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="editModelBoot.title" required>

			<small *ngIf="!title.valid && title.touched" class="invalid-field">
				El título no es válido, favor de usar minúsculas
            </small>

			<label for="description">Descripción</label>
			<input type="text" name="description" class="form-control" #description="ngModel" [(ngModel)]="editModelBoot.description" required>

			<small *ngIf="!description.valid && description.touched " class="invalid-field">
				La descripción no es válida
			</small>		
			
			<label for="color">Color</label>
			<input type="text" name="color" class="form-control" #color="ngModel" [(ngModel)]="editModelBoot.color" required>

			<small *ngIf="!color.valid && color.touched" class="invalid-field">
				El color no es válido
			</small>			

			<label for="price">Precio</label>
			<input type="text" name="price" class="form-control" #price="ngModel" [(ngModel)]="editModelBoot.price" required>

			<small *ngIf="!price.valid && price.touched" class="invalid-field">
				El precio no es válido
            </small>

			<label for="minSize">Talla mínima</label>
			<input type="number" name="minSize" class="form-control" #minSizeForm="ngModel" [(ngModel)]="minSize" required>

			<small *ngIf="!minSizeForm.valid && minSizeForm.touched || minSize < 0 || maxSize < minSize" class="invalid-field">
				La talla mínima no es válida
            </small>

			<label for="maxSize">Talla máxima</label>
			<input type="number" name="maxSize" class="form-control" #maxSizeForm="ngModel" [(ngModel)]="maxSize" required>

			<small *ngIf="!maxSizeForm.valid && maxSizeForm.touched || maxSize < 0 || maxSize < minSize" class="invalid-field">
				La talla máxima no es válida
            </small>

			<input type="file" id="upload" for="subir imágenes" name="imageFiles" class="form-control" (change)="fileChangeEvent($event)" name="file0" multiple/>
			
			<button onclick="document.getElementById('upload').click(); return false;">Click me</button>
			<!--Prevent default submit with return false... Why not put on a funtion(?)-->

			<input type="submit" value="Editar" class="button" [disabled]="createModel.invalid || maxSize < 0 || minSize < 0 || maxSize < minSize"/>


		</form>
		<div class="image-wrapper">
			<img alt="{{editModelBoot.description}}{{'i'}}" src="{{url + 'getImageModelBoot/' + editModelBoot.mainImage + '/' + editModelBoot.description | imageName}}" onerror="this.src='assets/images/imageDefault.jpg'"/>
		</div>
	</div>
</div>
