<section id="modelToBuy">
  <div id="thumbnails">
    <div class="thumbnail" *ngFor="let image of images; index as i">
      <img class="thumbnail-img" alt="{{modelToBuy.description + i}}" [src]="
      url + 'getImageModelBoot/' + modelToBuy.images[i] + '/' + modelToBuy.description | imageName" (click)="showBigImage(i)">
    </div>
  </div>
  <div class="clear-fix"></div>
  <section id="scopedImageWrapper">
    <img class="scopedImage" alt="{{modelToBuy.description}}" src="{{url + 'getImageModelBoot/' + modelToBuy.images[bigImagePos] + '/' + modelToBuy.description | imageName}}" onerror="this.src='assets/images/imageDefault.jpg'"/>
  </section>

  <section id="modelData">
    <h1 id="modelTitle">{{modelToBuy.title}} </h1>
    <p id="modelDescription">{{modelToBuy.description}}</p>
    <p id="modelColor">{{modelToBuy.color}}</p>
    <p id="modelPrice">	&#36;{{modelToBuy.price}}<span>mxn</span></p>

    <h2 id="capableSizesTitle">Tallas disponibles</h2>
    <p id="capableSizesModelBoot" *ngIf="capableSizes && capableSizes.length > 0; else noCapableSizes">
      <span *ngFor="let capableSize of capableSizes">
        {{capableSize}}
      </span>
    </p>
    <ng-template #noCapableSizes>
      <span>
        No hay tallas disponibles
      </span>
      
    </ng-template>
    <div class="admin-models-options" *ngIf="loggedCostumer && loggedCostumer.role == 'ROLE_ADMIN'">  
      <div id="edit-quantities">
        <button class="add-quantities" (click)="openDialogQuantities(true)" > Sumar cantidades </button>
        <button class="subtract-quantities" (click)="openDialogQuantities(false)"> Restar cantidades</button>
      </div>
      

      <a class="edit-model-boot" [routerLink]="['/edit-model-boot',modelToBuy._id]">Editar</a>
      <button type="button" class="delete-model-boot" (click)="openDialogDeleteModel(modelToBuy._id,modelToBuy.title)">Eliminar</button>
    </div>   
    
  </section>
  
  
</section>

<!--
<ol>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name" />
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>
-->