<section id="modelToBuy">
  <div id="thumbnails">
    <img class="thumbnail" alt="">
  </div>
  <img class="scopedImage" alt="{{modelToBuy.description}}" src="{{url + 'getImageModelBoot/' + modelToBuy.images[mainImagePos] + '/' + modelToBuy.description | imageName}}" onerror="this.src='assets/images/imageDefault.jpg'"/>
  
</section>


<ol>
    <li>
      <mat-form-field appearance="fill">
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name" />
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>