
<!--<div class="success feedback" *ngIf="createModelStatus == 'success'">Modelo creado exitosamente</div>-->
<div class="unique-wrapper">
    <div class="unique">
        <div id="list-models-wrapper">
            
            <div id="list-models">
                <article class="model-element" *ngFor="let modelBoot of modelsBoot; index as i; trackBy: trackByFn ">
                    <a class="image-model" [routerLink]="['/inicio']" >
                        <div class="image-wrapper">
                            <img alt="{{modelBoot.description}}{{i}}" src="{{url + 'getImageModelBoot/' + modelBoot.mainImage + '/' + modelBoot.description | imageName}}" onerror="this.src='assets/images/imageDefault.jpg'"/>
                        </div>
                    </a>
                    <div class="modelBootContent">
                        <h1 class="title">{{modelBoot.title}}</h1><br>
                        <p class="description">{{modelBoot.description}}</p>
                        <p class="price" >&#36;{{modelBoot.price}}</p>
                        <div class="disponibility">
                            <p *ngIf="capableSizesOfListModels[i] && capableSizesOfListModels[i].length > 0;">
                                Tallas disponibles:
                            </p>
                            <p *ngIf="capableSizesOfListModels[i] && capableSizesOfListModels[i].length > 0; else noSizes">
                                
                                <span *ngFor="let capableSize of capableSizesOfListModels[i]">
                                    {{capableSize}}
                                    <ng-content *ngIf="i != capableSizesOfListModels[i].length"> </ng-content><!--space-->
                                </span>
                            </p>
                            <ng-template #noSizes>
                                <p>No hay tallas disponibles</p>
                            </ng-template>
                        </div>
                        <div class="admin-models-options" *ngIf="user && user.role == 'ROLE_ADMIN'">
                            <a class="edit-model-boot" [routerLink]="['/edit-model-boot',modelBoot._id]">Editar</a>
                            <button type="button" class="delete-model-boot" (click)="openDialogDelete(modelBoot._id,modelBoot.title)">Eliminar</button>
                            
                        </div>
                    </div>
                        
                    
                </article>
        
            </div>
        </div>
        
        
        <div class="pagination">
            <app-pagination (pageEmitt)="getPage($event)" [pagesChild]="pagesParent" [pageInitHalfChild]="pageInitHalf" [pageFinalHalfChild]="pageFinalHalf" [page]="page"></app-pagination>
        </div>    
    </div>
    
</div>