<div class="success feedback" *ngIf="createModelStatus == 'success'">Modelo creado exitosamente</div>
<div class="unique-wrapper">
    <div class="unique" id="list-models">
        <article *ngFor="let modelBoot of modelsBoot; index as i">
            <div class="image-wrapper">
                <img alt="{{modelBoot.description}}{{i}}" src="{{url + 'getImageModelBoot/' + modelBoot.mainImage + '/' + modelBoot.description | imageName}}" />
            </div>
            
            <div class="title">{{modelBoot.title}}</div>

            
        </article>

        <app-pagination (pageEmitt)="getPage($event)" [pagesChild]="pagesParent" [pageInitHalfChild]="pageInitHalf" [pageFinalHalfChild]="pageFinalHalf" [page]="page"></app-pagination>
    </div>
</div>