<div *ngIf="status == ''; else message"></div>
<ng-template #message>
    <div class="fail feedback" *ngIf="status == 'error'">El usuario no existe</div>
    <div class="fail feedback" *ngIf="status == 'serverError'">Error en el servidor, inténtelo nuevamente más tarde</div>
	<div class="fail feedback" *ngIf="status == 'registerInvalid'">Datos incorrectos</div>
    <div class="fail feedback" *ngIf="status == 'errorResetting'">Datos incorrectos, la contraseña no se ha reseteado</div>
    <div class="fail feedback" *ngIf="status == 'serverErrorResetting'">Hubo un error en el servidor, la contraseña no se ha reseteado</div>
    <div class="success feedback" *ngIf="status == 'sendingSuccess'">Se ha enviado el email sin problemas</div>
	
</ng-template>

<div class="wrapper unique-wrapper" id="verify-wrapper" *ngIf="!resetActivated">
    <div id="verify" class="consumerForm unique">
        <span></span>
        <h2>Contrase&ntilde;a olvidada</h2>
        <form class="col-md-5 ml-0 pl-0" #verify="ngForm" (ngSubmit)="onSubmit(verify)">
            
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="forgottenPassword.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <small *ngIf="!email.valid && email.touched" class="invalid-field">
                El email no es válido, favor de usar minúsculas
            </small>			
            <div class="clear-fix"></div>           

            <input type="submit" value="Enviar email" class="button" [disabled]="verify.invalid">
        </form>
            
    </div>
</div>
<div class="wrapper unique-wrapper" id="verify-wrapper" *ngIf="resetActivated">
    <div id="verify" class="consumerForm unique">
        <span></span>
        <h2>Resetear contrase&ntilde;a</h2>
        <form class="col-md-5 ml-0 pl-0" #verify="ngForm" (ngSubmit)="onSubmit(verify)">
            
            <label for="email">Email</label>
            <p>{{forgottenPassword.email}}</p>
            <label for="code">Código</label>
            <input type="text" name="code" class="form-control" #code="ngModel" [(ngModel)]="forgottenPassword.recoveryPasswordCode" required>

            <small *ngIf="!code.valid && code.touched" class="invalid-field">
                El código no es válido
            </small>			

            <label for="password">Nueva contrase&ntilde;a</label>
            <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="forgottenPassword.newPassword" required>

            <small *ngIf="!password.valid && password.touched" class="invalid-field">
                La contrase&ntilde; no es válida
            </small>			

            <label for="passwordConfirmation">Confirmación de nueva contraseña</label>
            <input type="password" name="passwordConfirmation" class="form-control" #passwordConfirmation="ngModel" [(ngModel)]="forgottenPassword.passwordConfirmation" required>

            <small *ngIf="!passwordConfirmation.valid && passwordConfirmation.touched || passwordConfirmation.touched && forgottenPassword.passwordConfirmation != forgottenPassword.newPassword" class="invalid-field">
                La confirmación no es válida
            </small>
            <div class="clear-fix"></div>
            <button type="button" id="notReceived" class="supplement" (click)="sendEmail()">Reenviar e-mail</button>
            

            <input type="submit" value="Verificar" class="button" [disabled]="verify.invalid || forgottenPassword.passwordConfirmation != forgottenPassword.newPassword">
        </form>
            
    </div>
</div>
