<table class="pagination">
    <tr>
        <td class="direction-left">
            <button type="button" class="supplement" (click)="sendPage(page-1)" *ngIf="page!=1">
                <span class="symbol">< </span><span class="direction-text">Anterior</span>
            </button>
            
        </td>
        <td id="pages">
            
            <button type="button" class="supplement pages" (click)="sendPage(1)" *ngIf="page!=1">1</button>
            <span class="supplement pages" *ngIf="ellipses[1]">...</span>
            <button type="button" class="supplement pages" (click)="sendPage(pageInitHalfChild)" *ngIf="page!=pageInitHalfChild && 1 != pageInitHalfChild">{{pageInitHalfChild}}</button>
            <span class="supplement pages" *ngIf="ellipses[2]">...</span>
            <span class="supplement pages">{{page}}</span>
            <span class="supplement pages" *ngIf="ellipses[3]">...</span>
            <button type="button" class="supplement pages" (click)="sendPage(pageFinalHalfChild)" *ngIf="page!=pageFinalHalfChild && pagesChild != pageFinalHalfChild">{{pageFinalHalfChild}}</button>
            <span class="supplement pages" *ngIf="ellipses[4]">...</span>
            <button type="button" class="supplement pages" (click)="sendPage(pagesChild)" *ngIf="page!=pagesChild">{{pagesChild}}</button>
        </td>
        <td class="direction-right">
            <button type="button" class="supplement" (click)="sendPage(page + 1)" *ngIf="page!=pagesChild">
                <span class="direction-text">Siguiente</span> <span class="symbol"> ></span>
            </button>
            
        </td>
    </tr>
</table>
