$background: #FAFAFA;
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Web-Symbols;
    src: url(assets/fonts/web_symbols2/WebSymbols-Regular.otf);
}

$logo-weight: 900;
$logo-size: 50px;
$logo-font-family: sans-serif, Helvetica, Arial;

$font-size-identity: 20px;
$font-family-identity: Roboto,sans-serif;
$font-weight-identity: 700;

$primary-color: #323232;
$search-color:$primary-color;
$identity-color: #545454;
$unicode-close-color: #A3ABB8;

$background-menus: #EEEEEE;
$access-buttons-color: #db7b1c;
$access-buttons-color-hover: #fd8f21;
$logo-color: #DB7A1B;
$access-margin-left: 30px;
$field-login-margin-top: 15px;

$default-background: #00A3E2;
$default-color: #ffffff;
$default-background-hover: #9ac0cf;
$default-color-hover: #074f6e;

$success-color: #2e8d61;

$danger-color: #E73E33;

$border-main: 2px solid #d3d3d3;



@mixin display-block-float($direction: left) {
    display: block;
    float: $direction;
}
@mixin remove-input-default(){
    border: none;
    font: inherit;
    outline: inherit;
}

@mixin default-button(){
    background-color:$default-background;
    color: $default-color;
    transition: all 300ms;
    &:hover{
        background-color: $default-background-hover;
        color: $default-color-hover;
    }
}

$lg-screen: 1920px;
$desktop: 1320px;
$sm-desktop: 1024px;
$tablet: 960px;
$lg-phone:480px;
$phone: 360px;
$sm-phone: 320px;

@mixin custom-media($min,$max){
    @media (min-width:$min) and (max-width:$max){
        @content;
    }
}

@mixin max-desktop(){
    @media (min-width:$desktop){
        @content;
    }
}

@mixin lg-screen(){
    @media (min-width:$desktop) and (max-width:$lg-screen){
        @content;
    }
}

@mixin desktop(){
    @media (min-width:$sm-desktop) and (max-width:$desktop){
        @content;
    }
}

@mixin sm-desktop(){
    @media (min-width:$tablet) and (max-width:$sm-desktop){
        @content;
    }
}

@mixin tablet(){
    @media (min-width:$lg-phone) and (max-width:$tablet){
        @content;
    }
}

@mixin lg-phone(){
    @media (min-width:$phone) and (max-width:$lg-phone){
        @content;
    }
}

@mixin phone(){
    @media (min-width:$sm-phone) and (max-width:$phone){
        @content;
    }
}
@mixin sm-phone(){
    @media (max-width:$sm-phone){
        @content;
    }
}

body{
    background-color: $background;
    .error-img-wrapper{
        width: 100%;
        text-align: center;
        #error-img{
            display: inline-block;
            width: 30%;
        }
    }
    
    .green-snackbar {
        background: rgb(2, 114, 43);
        color: white;
    }
    .green-snackbar button {
        background-color: rgb(5, 161, 62);
        color: white;
        border: none;
    }
    .red-snackbar {
        background: #F44336;
        color: white;
    }
    .red-snackbar button {
        background-color: #F44336;
        color: white !important;
        border: none;
    }
    
    #delete-model-dialog{
        .model-delete-title{
            color: $logo-color;
        }
        .model-title-question{
            color: $logo-color;
        }
        .no-thanks{
            @include default-button();
        }
        .delete-confirm{
            color: #939393;
            transition: all 300ms;
            &:hover{
                color: $danger-color;
                background-color: inherit;
            }
        }
    }
    #dialog-success{
        .symbol{
            color:$success-color;
            font-weight:400;
            line-height: 34px;
            font-size: 34px;
            text-align: center;
        }
    }
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: $access-buttons-color !important;
    }
    .mat-progress-spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
    }
    .feedback{
        display: block;
        font-family: $logo-font-family;
        padding: 5px;
        border-radius: 5px;
        color: #F7F7DE;
        font-weight: bold;
        .link{
            font-size: 18px;
            text-decoration: underline;
        }

    }
    .success{
        background-color: $success-color;
    }
    .fail{
        background-color: $danger-color;
    }
    .symbol{
        @include remove-input-default();
        font-family: Web-Symbols;
        font-weight: lighter;    
    }
    
    .unicode-close{
        @include remove-input-default();
    }
    
    .clear-fix{
        float: none;
        clear: both;
    }
    
    input{
        outline: none;
    }
    
    a {
        color: inherit; 
        text-decoration: inherit;
    } 
    
    table{
        th{
            color: #555555;
        }
        .direction-right{
          text-align: right;  
        }

        .direction-left{
            text-align: left;  
        }
        .supplement{
            margin: 0px auto;
        }

        span.pages{
            color: $primary-color;
        }
        .pages{
            margin-left: 15px;
        }
        .ellipses:hover{
            cursor:default;
            color: black;
        }
        
    }
    .wrapper-table{
        width: 100%;
        text-align: center;
        table{
            display: inline-block;
        }
    }
    .pagination{
        .direction-text{
            @include custom-media(0px,$lg-phone){
                font-size: 0px;
            }
        }
        .symbol{
            @include custom-media(0px,$lg-phone){
                font-size: 50px;
            }
        }
        #pages{
            width: 260px;
            text-align: center;
        }
        

    }
    .button{
        cursor: pointer;
    }

    .supplement{
        @include remove-input-default();
        background: none;
        color: $access-buttons-color;                    
        padding: 0;                    
        margin-left: $access-margin-left;
        margin-top: $field-login-margin-top;
        margin-bottom: 30px;
    }
    .supplement:hover{
        color: $access-buttons-color-hover;
        cursor:pointer;
    }
    
    .consumerForm, .consumerInfo{
        font-family: 'Roboto',sans-serif;
        display: block;
        float: left;
        width: 35%;
        text-align: left !important;
        @include custom-media(0px,$desktop){
            width: 50%;
        }
        @include custom-media(0px,$tablet){
            width: 70%;
        }
        background-color: #f7f7f7;
        border-top: $border-main;
    
        h2{
            color: #555555;                    
            font-weight: 700;
            font-size: 25px;
            margin-left: 7%;
            margin-top: 1.7%;
            margin-bottom: 2.2%;
        }
    
        input, label,p{
            display: block;
            margin-left: $access-margin-left;            
        }
        
        label{
            color: #939393;
            font-family: Roboto-Light,sans-serif;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 5px;
            margin-top: $field-login-margin-top;
        }
    
        .invalid-field{
            color: red;
            margin-left: $access-margin-left;
        }
    
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"]{
            font-family: 'Calibri',Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            color:#333333;
            width: 80%;
            border-radius: 5px;
            border: 1px solid #cccccc;
            height: 30px;
            line-height: 30px;
            
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus,
        input[type="number"]:focus{
            border: 3px solid #cccccc;
        }
    
        input[type="submit"]{
            margin-top:30px;
            background: $access-buttons-color;
            color: $default-color;
            @include remove-input-default();
            padding: 0px 32px;                    
            height: 38px;
            font-weight: 400;
            line-height: 38px;
            border-radius: 5px;
            margin-bottom: 30px;
        }
        input[type="submit"]:hover{
            background: $access-buttons-color-hover;
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.1);
        }
        input[type="submit"]:disabled{
            background: #bdbdbd;
            box-shadow: none;
            cursor: default;
        }                
    }
    #content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 6fr 1fr;       
    }
    
    #header{
        
        grid-area: 1 / auto / 2 / auto;
        #navbar{
            display: block;
            overflow: hidden;
            background-color: $background-menus;
            background-repeat: no-repeat;
            background-size: 1350px 100px;
            

            #logo{
                @include display-block-float();
                font-family: $logo-font-family;
                color: $logo-color;
                padding: 5px;
                padding-left: 40px;
                letter-spacing: 20px;
                font-size: $logo-size;
                font-weight: $logo-weight;
                display: block;
                margin-top: 12px;

                @include custom-media(0px,$desktop){
                    width: 100%;
                    text-align: center;                 
                    clear: both;
                }

                
            }
            
            #search{
                @include display-block-float();
                padding: 20px;
                margin-top: 8px;
                margin-left: 100px;
                display: block;
                
                @include custom-media(0px,$desktop){
                    margin-left: auto;                        
                    width: 100%;
                    text-align: center;
                    clear: both;      
                    > * {
                        display: inline-block;
                    }
                }
                
                input{
                    @include remove-input-default();
                    background: inherit;
                    font-family: Roboto,sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    width: 432px;
                    @include custom-media(0px, $tablet){
                        width: 250px;
                    }
                    @include custom-media(0px, $lg-phone){
                        width: 50%;
                    }
                    color: $search-color;
                    @include custom-media(0px, $desktop){        
                        background: #e2e2e2;
                        line-height: 40px;
                        border-radius: 10px;
                        padding: 0px 26px;
                    }
                    

                }
                .symbol{
                    color: $unicode-close-color;
                    font-size: 28px;
                }

                .unicode-close{
                    color: $unicode-close-color;
                    font-size: 26px;
                }
            }
            #identity{
                color: $identity-color;
                line-height: 57px;
                //background: inherit;
                display: block;
                @include custom-media(0px, $desktop){
                    clear: both;
                }
                
                overflow: hidden;
                div {
                    
                    div{
                        @include display-block-float(right);
                        @include custom-media(0px,$desktop){
                            float: none;
                            text-align: center;
                            margin: auto;
                        }
                        font-family: $font-family-identity;
                        font-size: $font-size-identity;
                        font-weight: $font-weight-identity;
                        text-shadow: initial;
                        font-style: normal;
                        letter-spacing: normal;
                        margin-top: 15px;
                        margin-right: 8%;

                    }
                }
                #logout{
                    transition: all 500ms;
                }
                #logout:hover{
                    color:#CC0000;
                }
                

            }
        }
        #admin-wrapper{
            margin-top: 0px;
            background-color: $background-menus;
            display: block;
            overflow: hidden;    
            
            li{
                color: $access-buttons-color;
                margin-left: 5%;
                display: block;
                float: left;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            li:hover{
                a{
                    color: $access-buttons-color-hover;
                }
                
            }

            @include custom-media(0px,$tablet){
                text-align: center;
                #admin-panel{
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                    padding: 0%;
                    li{
                        font: 400 22px/28px Roboto, "Helvetica Neue", sans-serif;
                        margin-left: 0%;
                        width: 100%;
                        overflow: hidden;
                    }
                }
                
            }   
            
        }
    }

    main{
        
        grid-area: 2 / auto / 3 / auto;
        @mixin customer-form-custom-media-desktop {
                margin-left: auto;
                display: inline-block;
                text-align: initial;
                float: none;
        }

        .unique-wrapper {
            text-align: center;
            .unique{
                margin-top: 4%;
                margin-left: auto;
                display: inline-block;
                text-align: center;
                float: none;
                height: auto;
            }     
            #admin-models-boot{
                background-color: inherit;
                margin: 123px auto;
                padding: 0px;
                li{
                    line-height: 46px;
                    margin: 0px 5px;
                    font-size: 30px;
                    list-style: none;
                  a{
                      display: block;
                      width: 100%;
                      height: 100%;
                      color: $identity-color;
                  }  
                  a:hover{
                    color: $access-buttons-color-hover;
                  }
                }
            }
            #list-users{
                text-align: left;
            }

            #pagination{
                display: inline-block;
            }
        }
        @include max-desktop(){
            #login{
                margin-top: 4%;
                margin-left: 14%;
                height: 400px;
            }
            #register{
                margin-left: 2%;
                height: 650px;
                margin-top: 4%;
            }
            
        }
        @include custom-media(0px,$desktop ) {
            .feedback{
                text-align: unset;
            }
            > * > *{                    
                margin-left: auto;
                display: block;
                width: 100%;
                clear: both;
                text-align: center;
                overflow: hidden;

                
                #login{
                    margin-left: 14%;
                    @include customer-form-custom-media-desktop();
                    height: 400px;
                    margin-top: 4%;
                }
                #register{
                    margin-left: 2%;
                    @include customer-form-custom-media-desktop();
                    height: 650px;
                    margin-top: 4%;
                }
                
            }
        }
        #list-models-wrapper{
            width: 100%;
            #list-models{
                width: 100%;
                display: inline-block;
                margin-top: 10px;
                text-align: center;
                clear: both;
                .model-element {
                    overflow: hidden;
                    @include custom-media(0px,$desktop){
                        border-left: $border-main;
                        margin-top: 49px;
                    }
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    text-align: left;
                    .image-model{
                        .image-wrapper{
                            overflow: hidden;
                            padding: 10px;
                            img{
                                height: 100%;
                                width: 100%;
                            }
                            height: 254px;
                            width: 254px;
                            display: block;
                            float: left;
                            border-bottom: $border-main;
                            @include custom-media(0px,$desktop){
                                border-bottom: none;
                            }
                        }
                    }
                    
                    .modelBootContent{
                        margin-left: 20px;
                        margin-top: 20px;
                        width: 38%;
                        & {
                            display: block;
                            float: left;
                            font:400 14px/14px Roboto, "Helvetica Neue", sans-serif;
                        }
    
                        h1{
                            margin-bottom: 0px;
                        }
                        .description{
                            font: 400 14px/16px Roboto, "Helvetica Neue", sans-serif;
                            margin-bottom: 10px;
                        }
                        .price{
                            font: 400 24px/1.25 Roboto, "Helvetica Neue", sans-serif;
                            margin-bottom: 10px;
                        }
                        .disponibility{
                            font-family: 'Roboto',sans-serif;
                            font-weight: 300;
                            font-size: 16px;
                        }
                        .admin-models-options{
                            > button{
                                border: none;
                                font: 400 16px/16px Roboto, "Helvetica Neue", sans-serif;
                                padding: 5px;
                                border: none;
                                border-radius: 5px;
                                transition: all 300ms;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            .edit-model-boot{
                                @include default-button();
                                font: 400 16px/16px Roboto, "Helvetica Neue", sans-serif;
                                padding: 5px;
                                border: none;
                                border-radius: 5px;
                                transition: all 300ms;
                            }
                            
                            .delete-model-boot{
                                margin-left: 5px;
                                background: $danger-color;
                                color: #DFEDF3;
                                &:hover{                                    
                                    background: #864c48;
                                    color: #1b4953;
                                }
                            }
                        }
                        @include custom-media(0px, $desktop){
                            margin-top: 0px;
                            width: 100%;
                            h1{
                                font: 400 18px/18px Roboto, "Helvetica Neue", sans-serif;
                            }
                            .description{
                                font: 400 12px/12px Roboto, "Helvetica Neue", sans-serif;
                                margin-bottom: 10px;
                            }
                            .price{
                                font: 400 18px/1 Roboto, "Helvetica Neue", sans-serif;
                                margin-bottom: 5px;
                            }
                            .disponibility{
                                font-family: 'Roboto',sans-serif;
                                font-weight: 300;
                                font-size: 14px;
                            }
                            
                        }
                    }
                    
                }
                @include custom-media(0px, $desktop){
                    width: 270px;
    
                }
            }
        }
        
        .pagination{
            display: inline-block;
            margin-top: 24px;
        }

    }

    #footer{           
        grid-area: 3 / auto / 4 / auto;
    }


}













