$background: #FAFAFA;
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Web-Symbols;
    src: url(assets/fonts/web_symbols2/WebSymbols-Regular.otf);
}

$logo-weight: 900;
$logo-size: 50px;
$logo-font-family: sans-serif, Helvetica, Arial;

$font-size-identity: 20px;
$font-family-identity: Roboto,sans-serif;
$font-weight-identity: 700;

$primary-color: #323232;
$search-color:$primary-color;
$unicode-close-color: #A3ABB8;

$access-buttons-color: #db7b1c;
$access-buttons-color-hover: #FD9A3A;
$access-margin-left: 30px;
$field-login-margin-top: 15px;



@mixin display-block-float($direction: left) {
    display: block;
    float: $direction;
}
@mixin remove-input-default(){
    border: none;
    font: inherit;
    outline: inherit;
}

$lg-screen: 1920px;
$desktop: 1320px;
$sm-desktop: 1024px;
$tablet: 960px;
$lg-phone:480px;
$phone: 360px;
$sm-phone: 320px;

@mixin custom-media($min,$max){
    @media (min-width:$min) and (max-width:$max){
        @content;
    }
}

@mixin max-desktop(){
    @media (min-width:$desktop){
        @content;
    }
}

@mixin lg-screen(){
    @media (min-width:$desktop) and (max-width:$lg-screen){
        @content;
    }
}

@mixin desktop(){
    @media (min-width:$sm-desktop) and (max-width:$desktop){
        @content;
    }
}

@mixin sm-desktop(){
    @media (min-width:$tablet) and (max-width:$sm-desktop){
        @content;
    }
}

@mixin tablet(){
    @media (min-width:$lg-phone) and (max-width:$tablet){
        @content;
    }
}

@mixin lg-phone(){
    @media (min-width:$phone) and (max-width:$lg-phone){
        @content;
    }
}

@mixin phone(){
    @media (min-width:$sm-phone) and (max-width:$phone){
        @content;
    }
}
@mixin sm-phone(){
    @media (max-width:$sm-phone){
        @content;
    }
}

body{
    background-color: $background;
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: $access-buttons-color !important;
    }
    .mat-progress-spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
    }
    .feedback{
        display: block;
        font-family: $logo-font-family;
        padding: 5px;
        border-radius: 5px;
        color: #F7F7DE;
        font-weight: bold;
        .link{
            font-size: 18px;
            text-decoration: underline;
        }

    }
    .success{
        background-color: #2e8d61;
    }
    .fail{
        background-color: #d63547;
    }
    .symbol{
        @include remove-input-default();
        font-family: Web-Symbols;
        font-weight: lighter;    
    }
    
    .unicode-close{
        @include remove-input-default();
    }
    
    .clear-fix{
        float: none;
        clear: both;
    }
    
    input{
        outline: none;
    }
    
    a {
        color: inherit; 
        text-decoration: inherit;
    } 
    
    table{
        th{
            color: #555555;
        }
        .direction-right{
          text-align: right;  
        }

        .direction-left{
            text-align: left;  
        }
        .supplement{
            margin: 0px auto;
        }

        span.pages{
            color: $primary-color;
        }
        .pages{
            margin-left: 15px;
        }
        
    }
    .wrapper-table{
        width: 100%;
        text-align: center;
        table{
            display: inline-block;
        }
    }
    .pagination{
        .direction-text{
            @include custom-media(0px,$lg-phone){
                font-size: 0px;
            }
        }
        #pages{
            width: 260px;
            text-align: center;
        }
        

    }
    .button{
        cursor: pointer;
    }

    .supplement{
        @include remove-input-default();
        background: none;
        color: $access-buttons-color;                    
        padding: 0;                    
        margin-left: $access-margin-left;
        margin-top: $field-login-margin-top;
        margin-bottom: 30px;
    }
    .supplement:hover{
        color: $access-buttons-color-hover;
        cursor:pointer;
    }
    
    .consumerForm, .consumerInfo{
        font-family: 'Roboto',sans-serif;
        display: block;
        float: left;
        width: 35%;
        @include custom-media(0px,$desktop){
            width: 50%;
        }
        @include custom-media(0px,$tablet){
            width: 70%;
        }
        background-color: #f7f7f7;
        border-top: 2px solid #d3d3d3;
    
        h2{
            color: #555555;                    
            font-weight: 700;
            font-size: 25px;
            margin-left: 7%;
            margin-top: 1.7%;
            margin-bottom: 2.2%;
        }
    
        input, label,p{
            display: block;
            margin-left: $access-margin-left;            
        }
        
        label{
            color: #939393;
            font-family: Roboto-Light,sans-serif;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 5px;
            margin-top: $field-login-margin-top;
        }
    
        .invalid-field{
            color: red;
            margin-left: $access-margin-left;
        }
    
        input[type="text"],
        input[type="email"],
        input[type="password"]{
            font-family: 'Calibri',Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            color:#333333;
            width: 80%;
            border-radius: 5px;
            border: 1px solid #cccccc;
            height: 30px;
            line-height: 30px;
            
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus{
            border: 3px solid #cccccc;
        }
    
        input[type="submit"]{
            margin-top:30px;
            background: $access-buttons-color;
            color: #FFFFFF;
            @include remove-input-default();
            padding: 0px 32px;                    
            height: 38px;
            font-weight: 400;
            line-height: 38px;
            border-radius: 5px;
            margin-bottom: 30px;
        }
        input[type="submit"]:hover{
            background: $access-buttons-color-hover;
            box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.1);
        }
        input[type="submit"]:disabled{
            background: #bdbdbd;
            box-shadow: none;
            cursor: default;
        }                
    }
    #content{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 6fr 1fr;
    }
    
    #header{
        
        grid-area: 1 / auto / 2 / auto;
        #navbar{
            display: block;
            overflow: hidden;
            background-color: #EEEEEE;
            background-repeat: no-repeat;
            background-size: 1350px 100px;
            

            #logo{
                @include display-block-float();
                font-family: $logo-font-family;
                color: #DB7A1B;
                padding: 5px;
                padding-left: 40px;
                letter-spacing: 20px;
                font-size: $logo-size;
                font-weight: $logo-weight;
                display: block;
                margin-top: 12px;

                @include custom-media(0px,$desktop){
                    width: 100%;
                    text-align: center;                 
                    clear: both;
                }

                
            }
            
            #search{
                @include display-block-float();
                padding: 20px;
                margin-top: 8px;
                margin-left: 100px;
                display: block;
                
                @include custom-media(0px,$desktop){
                    margin-left: auto;                        
                    width: 100%;
                    text-align: center;
                    clear: both;      
                    > * {
                        display: inline-block;
                    }
                }
                
                input{
                    @include remove-input-default();
                    background: inherit;
                    font-family: Roboto,sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    width: 432px;
                    @include custom-media(0px, $tablet){
                        width: 250px;
                    }
                    @include custom-media(0px, $lg-phone){
                        width: 50%;
                    }
                    color: $search-color;
                    @include custom-media(0px, $desktop){        
                        background: #e2e2e2;
                        line-height: 40px;
                        border-radius: 10px;
                        padding: 0px 26px;
                    }
                    

                }
                .symbol{
                    color: $unicode-close-color;
                    font-size: 28px;
                }

                .unicode-close{
                    color: $unicode-close-color;
                    font-size: 26px;
                }
            }
            #identity{
                color: #545454;
                line-height: 57px;
                //background: inherit;
                display: block;
                @include custom-media(0px, $desktop){
                    clear: both;
                }
                
                overflow: hidden;
                div {
                    
                    div{
                        @include display-block-float(right);
                        @include custom-media(0px,$desktop){
                            float: none;
                            text-align: center;
                            margin: auto;
                        }
                        font-family: $font-family-identity;
                        font-size: $font-size-identity;
                        font-weight: $font-weight-identity;
                        text-shadow: initial;
                        font-style: normal;
                        letter-spacing: normal;
                        margin-top: 15px;
                        margin-right: 8%;

                    }
                }
                #logout{
                    transition: all 500ms;
                }
                #logout:hover{
                    color:#CC0000;
                }
                

            }
        }
    }

    main{
        
        grid-area: 2 / auto / 3 / auto;
        @mixin customer-form-custom-media-desktop {
                margin-left: auto;
                display: inline-block;
                text-align: initial;
                float: none;
        }

        .unique-wrapper {
            text-align: center;
            .unique{
                margin-top: 85px;
                margin-left: auto;
                display: inline-block;
                text-align: initial;
                float: none;
                height: auto;
            }     
        }
        @include max-desktop(){
            #login{
                margin-left: 14%;
                height: 400px;
            }
            #register{
                margin-left: 2%;
                height: 650px;
            }
            
        }
        @include custom-media(0px,$desktop ) {
            .feedback{
                text-align: unset;
            }
            > * > *{                    
                margin-left: auto;
                display: block;
                width: 100%;
                clear: both;
                text-align: center;
                overflow: hidden;

                
                #login{
                    margin-left: 14%;
                    @include customer-form-custom-media-desktop();
                    height: 400px;
                }
                #register{
                    margin-left: 2%;
                    @include customer-form-custom-media-desktop();
                    height: 650px;
                }
                
            }
        }
    }

    #footer{           
        grid-area: 3 / auto / 4 / auto;
    }


}













